# Get tweets using the API from tweet IDs
Also see get_tweets_by_id.py

In [4]:
# Load Founta+2018 tweet IDs
import pandas as pd

tweet_ids = pd.read_csv('../../data/hate_speech/founta2018/hatespeechtwitter.csv', index_col=0)
tweet_ids

                   maj_label
tweet_id
849667487180259329   abusive
850490912954351616   abusive
848791766853668864   abusive
848306464892604416   abusive
850010509969465344    normal
...                      ...
847640895956459521    normal
850335795022102530    normal
848201162717265920    normal
848939985160077312      spam
847673586361843713    normal

[80000 rows x 1 columns]

In [3]:
tweet_ids.maj_label.value_counts()

normal     52835
spam       13404
abusive    10122
hateful     3635
Name: maj_label, dtype: int64

# Load in scraped

In [2]:
import json
import pandas as pd

data_path = '../../data/hate_speech/founta2018/data.jsonl'
with open(data_path) as f:
    data = pd.json_normalize([json.loads(tweet) for tweet in f.read().splitlines()])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45512 entries, 0 to 45511
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   author_id                        45512 non-null  object
 1   referenced_tweets                12573 non-null  object
 2   conversation_id                  45512 non-null  object
 3   id                               45512 non-null  object
 4   edit_history_tweet_ids           45512 non-null  object
 5   text                             45512 non-null  object
 6   lang                             45512 non-null  object
 7   created_at                       45512 non-null  object
 8   entities.urls                    27667 non-null  object
 9   entities.hashtags                13633 non-null  object
 10  entities.annotations             28850 non-null  object
 11  public_metrics.retweet_count     45512 non-null  int64
 12  public_metrics.reply_count       45512 non-null  int64
 13  public_metrics.like_count        45512 non-null  int64
 14  public_metrics.quote_count       45512 non-null  int64
 15  public_metrics.impression_count  45512 non-null  int64
 16  entities.mentions                17689 non-null  object
 17  geo.place_id                     1652 non-null   object
 18  geo.coordinates.type             368 non-null    object
 19  geo.coordinates.coordinates      368 non-null    object
 20  entities.cashtags                74 non-null     object
 21  withheld.copyright               8 non-null      object
 22  withheld.country_codes           8 non-null      object
dtypes: int64(5), object(18)
memory usage: 8.0+ MB

In [10]:
# Match with labels
# data['id'] = data.id.astype(int)
merged = data.join(tweet_ids, on='id') # should remove duplicates
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45594 entries, 0 to 45511
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   author_id                        45594 non-null  object
 1   referenced_tweets                12607 non-null  object
 2   conversation_id                  45594 non-null  object
 3   id                               45594 non-null  int64
 4   edit_history_tweet_ids           45594 non-null  object
 5   text                             45594 non-null  object
 6   lang                             45594 non-null  object
 7   created_at                       45594 non-null  object
 8   entities.urls                    27703 non-null  object
 9   entities.hashtags                13655 non-null  object
 10  entities.annotations             28898 non-null  object
 11  public_metrics.retweet_count     45594 non-null  int64
 12  public_metrics.reply_count       45594 non-null  int64
 13  public_metrics.like_count        45594 non-null  int64
 14  public_metrics.quote_count       45594 non-null  int64
 15  public_metrics.impression_count  45594 non-null  int64
 16  entities.mentions                17723 non-null  object
 17  geo.place_id                     1652 non-null   object
 18  geo.coordinates.type             368 non-null    object
 19  geo.coordinates.coordinates      368 non-null    object
 20  entities.cashtags                74 non-null     object
 21  withheld.copyright               8 non-null      object
 22  withheld.country_codes           8 non-null      object
 23  maj_label                        45592 non-null  object
dtypes: int64(6), object(18)
memory usage: 8.7+ MB

In [11]:
merged.maj_label.value_counts()

normal     32695
spam        7432
abusive     3844
hateful     1621
Name: maj_label, dtype: int64