# Get tweets using the API from tweet IDs
Also see get_tweets_by_id.py

In [2]:
# Load Founta+2018 tweet IDs
import pandas as pd

tweet_ids = pd.read_csv('../../data/hate_speech/founta2018/hatespeechtwitter.csv')
tweet_ids

                 tweet_id maj_label
0      849667487180259329   abusive
1      850490912954351616   abusive
2      848791766853668864   abusive
3      848306464892604416   abusive
4      850010509969465344    normal
...                   ...       ...
79995  847640895956459521    normal
79996  850335795022102530    normal
79997  848201162717265920    normal
79998  848939985160077312      spam
79999  847673586361843713    normal

[80000 rows x 2 columns]

In [3]:
tweet_ids.maj_label.value_counts()

normal     52835
spam       13404
abusive    10122
hateful     3635
Name: maj_label, dtype: int64

In [5]:
# Load in scraped
import json

data_path = '../../data/hate_speech/founta2018/data.jsonl'
with open(data_path) as f:
    data = pd.json_normalize([json.loads(tweet) for tweet in f.read().splitlines()])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15578 entries, 0 to 15577
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   author_id                        15578 non-null  object
 1   referenced_tweets                5202 non-null   object
 2   conversation_id                  15578 non-null  object
 3   id                               15578 non-null  object
 4   edit_history_tweet_ids           15578 non-null  object
 5   text                             15578 non-null  object
 6   lang                             15578 non-null  object
 7   created_at                       15578 non-null  object
 8   entities.urls                    8862 non-null   object
 9   entities.hashtags                4216 non-null   object
 10  entities.annotations             9345 non-null   object
 11  public_metrics.retweet_count     15578 non-null  int64
 12  public_metrics.reply_count       15578 non-null  int64
 13  public_metrics.like_count        15578 non-null  int64
 14  public_metrics.quote_count       15578 non-null  int64
 15  public_metrics.impression_count  15578 non-null  int64
 16  entities.mentions                6413 non-null   object
 17  geo.place_id                     585 non-null    object
 18  geo.coordinates.type             117 non-null    object
 19  geo.coordinates.coordinates      117 non-null    object
 20  entities.cashtags                28 non-null     object
 21  withheld.copyright               3 non-null      object
 22  withheld.country_codes           3 non-null      object
dtypes: int64(5), object(18)
memory usage: 2.7+ MB